/*-----position absolute----*/
body{
    margin: 0px;
}
.red,.yellow,.blue
{
    width: 100px;
    height: 100px;
}
.red{
    background-color: red;
    position: absolute;
    left: 200px;
    top: 200px;
}
.blue{
    background-color: blue;
    position: absolute;
    left: 100px;
    top: 100px;
}
.yellow{
    background-color: yellow;
    position: absolute;

}
/*
    position absolute place les choses relativement par
    rapport à l'élément parent ici dans notre cas le parent
    est le body on peut aussi créer une div parente par exemple
    avec position relative et dans cette div on met
    une autre div en position absolue et appliquer nos expériences
    on ne precise pas position relative a body car c'est par defaut
*/
